:root {
  /* ## Colors */
  /* ### Primary */

  /* - Very dark blue (main background): hsl(233, 47%, 7%)
- Dark desaturated blue (card background): hsl(244, 38%, 16%)
- Soft violet (accent): hsl(277, 64%, 61%) */

  --very-dark-blue: hsl(233, 47%, 7%);
  --dark-saturate-blue: hsl(244, 38%, 16%);
  --soft-violet: hsl(277, 64%, 61%);

  /* ### Neutral */

  /* - White (main heading, stats): hsl(0, 0%, 100%)
- Slightly transparent white (main paragraph): hsla(0, 0%, 100%, 0.75)
- Slightly transparent white (stat headings): hsla(0, 0%, 100%, 0.6) */

  --white: hsl(0, 0%, 100%);
  --slighlty-transparent-white-main: hsla(0, 0%, 100%, 0.75);
  --slightly-transparent-white-stat: hsla(0, 0%, 100%, 0.6);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  background-color: var(--very-dark-blue);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  font-family: "Inter", sans-serif;
  color: var(--white);
  margin: 3em;
  border-radius: 4px;
  background-color: var(--dark-saturate-blue);
}

.grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr;
}

.grid .grid-item.right {
  position: relative;
}

.grid-item.left {
  padding: 2em 2em;
}
.grid-item .grid-detail .clr-violet {
  color: var(--soft-violet);
}

.grid-item .grid-detail p {
  font-size: 15px;
  line-height: 1.8;
  margin: 20px 0;
  color: hsl(0deg 0% 100% / 46%);
}

.grid-item .grid-detail .stats {
  padding: 19px 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.grid-item .grid-detail .stats span {
  font-family: "Lexend Deca", sans-serif;
  font-size: 10px;
  color: hsl(0deg 0% 100% / 51%);
  text-transform: uppercase;
}

.grid .grid-item .bg-image {
  background-image: url("./images/image-header-desktop.jpg");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 4px 4px 0;
}

.grid .grid-item .overlay {
  position: absolute;
  width: 100%;
  background: hsl(280deg 100% 54% / 38%);
  height: 100%;
}

.grid .grid-item .overlay {
  border-radius: 0 4px 4px 0;
}

@media screen and (max-width: 375px) {
  .container {
    text-align: center;
  }
  .grid-item .grid-detail .stats {
    flex-direction: column;
  }
  .grid-item .grid-detail .stats .stat-items {
    margin-bottom: 15px;
  }
  .grid .grid-item .bg-image {
    background-image: url("./images/image-header-mobile.jpg");
  }
}

@media screen and (max-width: 992px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
@media screen and (min-width: 993px) {
  .grid .grid-item .bg-image {
    height: 400px;
  }
  .container {
    margin: 5em 8em 2em;
  }
  .grid-item.left {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4em 4em;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--white);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
